<section class="login flex flex-col items-center gap-6 py-5 h-screen">
  <h2 class="text-white text-shadow font-semibold text-4xl">Log in</h2>

  <div class="flex justify-center items-center w-10/12">
    <%= form_with scope: :session, url: login_path, class: "w-10/12 flex flex-col items-center gap-6", local: true do |f|%>
      <%=
        f.email_field :email,
                      placeholder: 'Email',
                      required: true,
                      class: 'w-40 border-[1px] border-blue-500 rounded-lg p-1'
      %>

      <%=
        f.password_field :password,
                         placeholder: 'Password',
                         required: true,
                         class: 'w-40 border-[1px] border-blue-500 rounded-lg p-1'
      %>

      <%= f.submit 'Log in', class: 'px-5 py-2 bg-blue-600 text-white rounded-lg border-[1px] border-white' %>
    <%end%>
  </div>
</section>
