<section class="flex flex-col gap-5 items-center py-5 bg-indigo-300">
  <h2 class="text-white text-shadow font-semibold text-4xl">Articles</h2>
  <p class="btn-blue btn-normal underline"><%= link_to 'New Article', new_article_path %></p>
  <ul class="flex flex-col gap-10 items-center w-10/12">
    <% @articles.each do |article|%>
      <%= render 'article', article: article %>
    <%end%>
  </ul>

  <div class="flickr_pagination">
    <%= will_paginate @articles, container: false %>
  </div>
</section>
