<section class="flex flex-col gap-5 items-center py-5">
  <h2 class="text-indigo-600 text-4xl">Articles</h2>
    <%= render "article" %>
  <p><%= link_to 'Create new article', new_article_path %></p>

    <div class="flickr_pagination">
      <%= will_paginate @articles, :container => false %>
    </div>

</section>
