<div class="flex justify-center items-center">
  <section class="hero flex flex-col gap-5 justify-center items-center h-screen w-full">
    <h1 class="text-white text-5xl text-shadow text-center">Hi there, 80s lover!</h1>
    <p class="text-white text-xl text-shadow text-center">
      Dive into the G.I. Joe universe! Uncover the latest news, reviews, and nostalgic moments in our blog.
    </p>

    <%=
      link_to 'Sign up', signup_path, class: 'px-5 py-3 bg-blue-600 text-white rounded-lg border-[1px] border-white'
    %>
  </section>
</div>
