<section class="flex justify-center gap-5 py-5">
  <article class="w-10/12 bg-gray-200 rounded-md p-5 flex flex-col items-center justify-center gap-5">
    <h2 class="text-indigo-600 text-4xl"><%= @category.name %></h2>
  </article>
</section>
