<header class="flex items-center bg-black py-6 px-4">
  <nav class="flex gap-5">
    <p class="text-white text-2xl font-semibold"><%= link_to 'G.I. JOE BLOG', home_index_path %></p>
    <ul class="flex gap-3 items-center text-white">
      <li><%= link_to 'Articles', articles_path %></li>
      <li>Articles</li>
      <li>Articles</li>
    </ul>
  </nav>
</header>
